@import '@styles/variables';
@import "@styles/mixins";

html,
body {
  width: 100%;
  min-height: 100vh;
  background: $white-fff;
  overflow-x: hidden;

  @include breakpoint-xs {
    height: 100%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.scrollbar-thumb {
  background: $blue-2f8 !important;
}