@import "@styles/variables";
@import "@styles/mixins";

.page {
  @include flex();

  width: 100%;
  padding: 100px 40px 30px 40px;


  transition: padding 0.2s ease-in-out;
  background: $white-fff;

  @include breakpoint-xs {
    padding: 81px 0 20px 0;
  }

  @include breakpoint-sm {
    padding: 126px 0 40px 0;
  }

  @include breakpoint-md {
    padding: 103px 30px 30px;
  }

  @include breakpoint-xl {
    padding: 131px 80px 30px 80px;
  }
}

