@import "@styles/variables";
@import "@styles/mixins";

.item {
  @include flex();

  width: 100%;
  max-width: 275px;
  padding: 15px 20px;

  background: $blue-2f8;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  span {
    font-size: $font-size-19;
    font-weight: $text-semiBold;
    line-height: 100%;
    letter-spacing: 1.05px;
    text-transform: uppercase;
    color: $white-fff;
  }

  @include breakpoint-xs {
    max-width: 100%;
  }
}